/* Write your CSS here */
.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.cross {
  margin-left: auto;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.pop-up-con {
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-con {
  color: #616e7c;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: none;
  outline: none;
}
